connection: &conn
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 5
  username: root
  password:

development:
  <<: *conn
  database: hotel_management_development

test:
  <<: *conn
  database: hotel_management_test

production:
  <<: *conn
  database: hotel_management_production

cucumber:
  <<: *conn
  database: hotel_management_cucumber
