%h1 Editing check_out

= semantic_form_for @check_out, :url => room_check_out_path(@room, @check_out) do |f|
  = render 'form', :f => f

= link_to 'Show', room_check_out_path(@room, @check_out)
\|
= link_to 'Back', room_check_outs_path(@room)
