%h1 Editing room

= semantic_form_for @room, :url => hotel_room_path(@hotel) do |f|
  = render :partial => 'form', :locals => { :f => f }

= link_to 'Show', hotel_room_path(@room)
\|
= link_to 'Back', hotel_rooms_path
