//= require_self
//= require_tree ./application
@import compass
@import compass/reset
body
  font-size: 100%
  font-family: 'Helvetica Neue', Helvetica, san-serif
  //background: #F0F6FC
  h1, h2, h3, h4, h5, h6
    font-weight: bold
  h1
    font-size: 60px
  h2
    font-size: 40px
  h3
    font-size: 30px
  select
    min-width: 100px
  .content
    width: 940px
    margin: 40px auto
  .clearfix
    +clearfix
  .left
    float: left
  .right
    float: right
  a
    color: #327A9F
    text-decoration: none
    &:hover
      text-decoration: underline
  .container
    +clearfix
    width: 940px
    padding: 10px
    margin: auto
  .section
    margin-bottom: 15px
    background: white
    border: 1px solid #E9E9E9
    padding: 10px 20px 10px
    +clearfix
    .sub_section
      margin: 10px auto
      background: #F5F6F7
      border: 1px #DAD5D6
      color: black
      border-top: 1px solid rgba(204, 204, 204, 0.7)
      border-bottom: 1px solid rgba(204, 204, 204, 0.7)
      padding: 10px
      +clearfix
  .row
    +clearfix
    line-height: 20px
    margin-bottom: 10px
  .property
    width: 30%
  form.formtastic
    li.input
      input.valid
        background-color: #BCF5BC
        +box-shadow(inset 0 1px 2px #71a771)
    li.error.input
      position: relative
      label
        color: #f66
      input.invalid
        background-color: #FFE9EC
        +box-shadow(inset 0 1px 2px #d37c89)
      p.inline-errors
        color: #f66
        position: absolute
        z-index: 100
        font-size: 11px
        line-height: 11px
        text-transform: uppercase
        font-weight: bold
        right: 20px
        top: 5px
  .template
    display: none
