%h1 Editing furnishing

= semantic_form_for @furnishing, :url => room_type_furnishing_path(@room_type, @furnishing) do |f|
  = render :partial => 'form', :locals => {:f => f}

= link_to 'Show', room_type_furnishing_path(@room_type, @furnishing)
\|
= link_to 'Back', room_type_furnishings_path(@room_type)
