%h1 New furnishing

= semantic_form_for @furnishing, :url => room_type_furnishings_path(@room_type) do |f|
  = render :partial => 'form', :locals => {:f => f}

= link_to 'Back', room_type_furnishings_path(@room_type)
