#google_map
  = javascript_include_tag 'google_map'

  .map_actions
    = link_to "Locate Hotel", "#", :id => "search_google_map_link"
    = link_to "Get Address", "#", :id => "get_address_link"

  #map_canvas

  .clearfix
