- content_for :head do
  = javascript_include_tag "#{GoogleMapSettings.server}/maps/api/js?key=AIzaSyBrp5OKFAdzY1xre8m-Fbq3VuoswPv2Y7s&sensor=false"

= link_to "Search on Google Map", "#", :id => "search_google_map_link"

#map_canvas

#clearfix
